<style type="text/css">

  .cclabel {
    text-align: right;
    padding-top: 15px;
  }
  .ccColumnHeader {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
  }
  .ccCalLabel {
    text-align: right;
    padding-top: 15px;
  }
  .ccTotal {
    font-size: 20px;
    font-weight: bold;
  }
  .ccInput {
    background-color: lightskyblue !important;
    text-align:right;
  }
  .ccDeductionsLabel {
    color: red;
    text-align: right;
  }
  .ccTakeHome {
    font-size: 20px;
    font-weight: bold;
    color: green;
  }
</style>
<div class="grid-block">
  <div id="sidebar" class="medium-4 grid-block">aasdf</div>
  <div id="main" class="medium-8 grid-block">ddda</div>
</div>
<div zf-tabs="" id="displaced-tabs" displaced="true">
  <div ng-repeat="tab in vm.tabs">
    <div zf-tab="" title="{{tab.title}}">
      <div class="grid-block">
        <div class="medium-8 " style="text-align:center;font-weight:bold; font-size:20px; padding-bottom:10px; padding-top:10px;background-color:lightgreen">{{$parent.tab.title}}</div>
      </div>
      <div class="grid-block" style="padding-top:10px">
        <div class="medium-2 " ></div>
        <div class="medium-1 "></div>
        <div class="medium-1 ccColumnHeader" >Annual </div>
        <div class="medium-1 ccColumnHeader">Monthly</div>
        <div class="medium-1 ccColumnHeader">Bi-Monthly</div>
        <div class="medium-1 ccColumnHeader">Bi-Weekly</div>
        <div class="medium-1 ccColumnHeader">Hourly</div>
      </div>
      <div class="grid-block" >
        <div class="medium-2 cclabel">Salary- Enter Annual Salary:</div>
        <div class="medium-1"></div>
        <div class="medium-1">
          <div style="margin-left:30px">
            <input type="number"
                   class="ccInput"
                   ng-model="$parent.tab.annualSalary"
                   ng-change="$parent.vm.updateTaxRate($parent.tab)">
          </div>
        </div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.annualSalary/12 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.annualSalary/24 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.annualSalary/26 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.annualSalary/2080 | currency}}</div>
      </div>
      <div class="grid-block"  style="padding-top:-10px">
        <div class="medium-2 cclabel">PTO in Weeks off:</div>
        <div class="medium-1"><div style="margin-left:30px"><input class="ccInput" type="number" ng-model="$parent.tab.ptoWksOff"></div></div>
        <div class="medium-1 ccCalLabel">{{annualPaidTimeOff =  $parent.tab.ptoWksOff* $parent.tab.annualSalary/2080 *  40 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{annualPaidTimeOff /12 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{annualPaidTimeOff /24 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{annualPaidTimeOff /26 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{annualPaidTimeOff /2080 | currency}}</div>
      </div>
      <div class="grid-block">
        <div class="medium-2 cclabel">Bonuses & Miscellaneous Benefits:</div>
        <div class="medium-1 " ></div>
        <div class="medium-1 "><div style="margin-left:30px"><input  class="ccInput" type="number" ng-model="$parent.tab.bonusMiscBen" /></div></div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.bonusMiscBen/12 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.bonusMiscBen/24 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.bonusMiscBen/26 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.bonusMiscBen/2080 | currency}}</div>
      </div>
      <div class="grid-block">
        <div class="medium-2 cclabel">Company 401K Match:</div>
        <div class="medium-1 " ><div style="margin-left:30px"><input class="ccInput" type="number" ng-model="$parent.tab.companyMatch"></div></div>
        <div class="medium-1 ccCalLabel">{{annualCompanyMatch = $parent.tab.companyMatch /100 * $parent.tab.annualSalary * $parent.tab.four01kContribPercentage /100| currency}}</div>
        <div class="medium-1 ccCalLabel">{{annualCompanyMatch/12 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{annualCompanyMatch/24 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{annualCompanyMatch/26 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{annualCompanyMatch/2080 | currency}}</div>
      </div>
      <div class="grid-block">
        <div class="medium-2 cclabel ccTotal">Total Compensation:</div>
        <div class="medium-1 ccCalLabel"></div>
        <div class="medium-1 ccCalLabel ccTotal">{{totalCompensation = annualPaidTimeOff + $parent.tab.annualSalary + $parent.tab.bonusMiscBen + $parent.tab.annual401KCompanyMatch | currency}}</div>
        <div class="medium-1 ccCalLabel ccTotal">{{totalCompensation/12 | currency}}</div>
        <div class="medium-1 ccCalLabel ccTotal">{{totalCompensation/24 | currency}}</div>
        <div class="medium-1 ccCalLabel ccTotal">{{totalCompensation/26 | currency}}</div>
        <div class="medium-1 ccCalLabel ccTotal">{{totalCompensation/2080 | currency}}</div>
      </div>
      <br/>
      <br/>
      <div class="grid-block">
        <div class="medium-2" style="color:red;font-size:22px;font-weight:bold;text-align:right">DEDUCTIONS</div>
        <div class="medium-1 "></div>
        <div class="medium-1 "></div>
        <div class="medium-1 "></div>
        <div class="medium-1 "></div>
        <div class="medium-1 "></div>
        <div class="medium-1 "></div>
      </div>
      <div class="grid-block">
        <div class="medium-2 ccCalLabel ccDeductionsLabel" style="padding-bottom:20px">Taxes:</div>
        <div class="medium-1 ccCalLabel">{{($parent.tab.taxRate * 100 | number:1) + ' %'}}</div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.annualSalary * $parent.tab.taxRate | currency}}</div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.annualSalary * $parent.tab.taxRate/12 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.annualSalary * $parent.tab.taxRate/24 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.annualSalary * $parent.tab.taxRate/26 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.annualSalary * $parent.tab.taxRate/2080 | currency}}</div>
      </div>
      <div class="grid-block">
        <div class="medium-2 cclabel ccDeductionsLabel">Health Benefits monthly premium:</div>
        <div class="medium-1 ">
          <div style="margin-left:30px">
            <input class="ccInput" type="number" ng-model="$parent.tab.healthMP"/>
          </div>
        </div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.healthMP * 12 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.healthMP |currency}}</div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.healthMP /2 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.healthMP * 12 / 26| currency}}</div>
        <div class="medium-1 ccCalLabel">{{$parent.tab.healthMP * 12 /2080 | currency}}</div>
      </div>

      <div class="grid-block">
        <div class="medium-2 cclabel ccDeductionsLabel">Commute one way in miles (wear & tear):</div>
        <div class="medium-1 ">
          <div style="margin-left:30px">
            <input class="ccInput" type="number" ng-model="$parent.tab.commuteDist" ng-change="$parent.vm.updateCommuteDist($parent.tab)"/>
          </div>
        </div>
        <div class="medium-1 ccCalLabel">{{annualcommuteCost = $parent.tab.commuteDist * 10 * 0.575 * 48 |currency}}</div>
        <div class="medium-1 ccCalLabel">{{annualcommuteCost / 12 |currency}}</div>
        <div class="medium-1 ccCalLabel">{{annualcommuteCost / 24 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{annualcommuteCost / 26| currency}}</div>
        <div class="medium-1 ccCalLabel">{{annualcommuteCost / 2080 | currency}}</div>
      </div>
      <div class="grid-block">
        <div class="medium-2 cclabel">401K Contribution:</div>
        <div class="medium-1 ">
          <div style="margin-left:30px">
            <input class="ccInput" type="number" ng-model="$parent.tab.four01kContribPercentage" ng-change="$parent.vm.four01kContribPercentageUpdate($parent.tab)"/>
          </div>
        </div>
        <div class="medium-1 ccCalLabel">{{annualFour01kContrib = $parent.tab.four01kContribPercentage* $parent.tab.annualSalary/100 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{annualFour01kContrib / 12 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{annualFour01kContrib / 24 | currency}}</div>
        <div class="medium-1 ccCalLabel">{{annualFour01kContrib / 26| currency}}</div>
        <div class="medium-1 ccCalLabel">{{annualFour01kContrib / 2080 | currency}}</div>
      </div>
      <div class="grid-block">
        <div class="medium-2 cclabel ccTakeHome">Actual Take Home:</div>
        <div class="medium-1 ccCalLabel"></div>
        <div class="medium-1 ccCalLabel ccTakeHome">{{annualTakeHome = totalCompensation - $parent.tab.annualSalary * $parent.tab.taxRate -$parent.tab.healthMP * 12 - annualcommuteCost -annualFour01kContrib| currency}}</div>
        <div class="medium-1 ccCalLabel ccTakeHome">{{annualTakeHome/12 | currency}}</div>
        <div class="medium-1 ccCalLabel ccTakeHome">{{annualTakeHome/24 | currency}}</div>
        <div class="medium-1 ccCalLabel ccTakeHome">{{annualTakeHome/26 | currency}}</div>
        <div class="medium-1 ccCalLabel ccTakeHome">{{annualTakeHome/2080 | currency}}</div>
      </div>
    </div>
  </div>
</div>
<div zf-tab-content="" target="displaced-tabs">
</div>
